<div class="container ko-main-content">
  <h1>Add a band</h1>
  <% if @band %>
    <% @band.errors.full_messages.each do |error| %>
      <div class="alert alert-danger"><%= error %></div>
    <% end %>
  <% end %>
  <form class="ko-form" action="/bands" method="post">
    <label for="name">Band Name:</label>
    <input type="text" name="name" placeholder="e.g. Foo Fighters">

    <button type="submit">ADD BAND</button>
  </form>
</div>
