<div class="container ko-main-content">
  <h1>Add a band</h1>
  <% if @band %>
    <div class="alert alert-danger">
    <% @band.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
    </div>
  <% end %>
  <form class="ko-form form-horizontal" action="/bands" method="post">
    <div class="form-group">
      <label for="name" class="col-sm-2">Band Name:</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control" placeholder="e.g. Foo Fighters">
      </div>
    </div>
    <button type="submit">ADD BAND</button>
  </form>
</div>
