<div class="container ko-main-content">
  <a href="/bands/<%= @band.id %>/edit" class="edit_button btn btn-default">edit</a>
  <h1><%= @band.name %></h1>
  <% if @band.venues.any? %>
  <ul class="ko-list">
    <% @band.venues.each do |venue| %>
      <li><a href="/venues/<%= venue.id %>"><%= venue.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <h3>No concerts have been entered. Turn up the volume by <a href="/concerts/new">adding one</a>.
  <% end %>
</div>
