<div class="container ko-main-content">
  <h1>Venues</h1>
  <% if @venues.any? %>
  <ul class="ko-list">
    <% @venues.each do |venue| %>
      <li><a href="/venues/<%= venue.id %>"><%= venue.name %></a></li>
    <% end %>
  </ul>
  <% else %>
  <h3> There are no venues.  Turn up the volume by <a href="/venues/new">adding one</a>.
  <% end %>
</div>
